[submodule "roles/tersmitten.logcheck"]
	path = roles/tersmitten.logcheck
	url = https://github.com/Oefenweb/ansible-logcheck.git
[submodule "roles/tersmitten.updatedb"]
	path = roles/tersmitten.updatedb
	url = https://github.com/Oefenweb/ansible-updatedb.git
[submodule "roles/rvm_io.rvm1-ruby"]
	path = roles/rvm_io.rvm1-ruby
	url = https://github.com/rvm/rvm1-ansible.git
[submodule "roles/nusenu.relayor"]
	path = roles/nusenu.relayor
	url = https://github.com/nusenu/ansible-relayor.git
[submodule "roles/aeriscloud.disk"]
	path = roles/aeriscloud.disk
	url = https://github.com/AerisCloud/ansible-disk.git
[submodule "roles/carlalexander.wordpress"]
	path = roles/carlalexander.wordpress
	url = https://github.com/carlalexander/debops-wordpress
[submodule "roles/tersmitten.swapfile"]
	path = roles/deprecated/tersmitten.swapfile
	url = https://github.com/Oefenweb/ansible-swapfile.git
[submodule "playbooks/debops-wordpress"]
	path = submodules/debops-wordpress
	url = https://github.com/carlalexander/debops-wordpress.git
[submodule "playbooks/ansible-os-hardening"]
	path = roles/dev-sec.os-hardening
	url = https://github.com/hardening-io/ansible-os-hardening.git
[submodule "roles/debops.contrib-checkmk_agent"]
	path = roles/debops-contrib.checkmk_agent
	url = https://github.com/debops-contrib/ansible-checkmk_agent.git
[submodule "roles/hardening.ssh-hardening"]
	path = roles/dev-sec.ssh-hardening
	url = https://github.com/hardening-io/ansible-ssh-hardening.git
[submodule "submodules/ansible-qubes"]
	path = submodules/ansible-qubes
	url = https://github.com/Rudd-O/ansible-qubes.git
[submodule "roles_ypid/ypid.copy"]
	path = roles_ypid/deprecated/ypid.copy
	url = https://github.com/ypid/ansible-copy.git
[submodule "roles_ypid/ypid.divert"]
	path = roles_ypid/ypid.divert
	url = https://github.com/ypid/ansible-divert.git
[submodule "roles_ypid/ypid.docker-openvpn"]
	path = roles_ypid/ypid.docker-openvpn
	url = https://github.com/ypid/ansible-docker-openvpn.git
[submodule "roles_ypid/ypid.import_pgp_public_keys"]
	path = roles_ypid/ypid.import_pgp_public_keys
	url = https://github.com/ypid/ansible-import_pgp_public_keys.git
[submodule "roles_ypid/ypid.initramfs_message"]
	path = roles_ypid/ypid.initramfs_message
	url = https://github.com/ypid/ansible-initramfs_message.git
[submodule "roles_ypid/ypid.linuxmuster_net-client-customize"]
	path = roles_ypid/ypid.linuxmuster_net_client
	url = https://github.com/ypid/ansible-linuxmuster_net_client.git
[submodule "roles_ypid/ypid.linuxmuster_net-client-epoptes_via_postsync"]
	path = roles_ypid/deprecated/ypid.linuxmuster_net-client-epoptes_via_postsync
	url = https://github.com/ypid/ansible-linuxmuster_net-client-epoptes_via_postsync.git
[submodule "roles_ypid/ypid.linuxmuster_net-server-customize"]
	path = roles_ypid/ypid.linuxmuster_net-server-customize
	url = https://github.com/ypid/ansible-linuxmuster_net-server-customize.git
[submodule "roles_ypid/ypid.linuxmuster_net-server-epoptes_via_postsync"]
	path = roles_ypid/ypid.epoptes
	url = https://github.com/ypid/ansible-epoptes.git
[submodule "roles_ypid/ypid.rsyslog"]
	path = roles_ypid/ypid.rsyslog
	url = https://github.com/ypid/ansible-rsyslog.git
[submodule "roles_ypid/ypid.shutdown_if_battery_low"]
	path = roles_ypid/ypid.shutdown_if_battery_low
	url = https://github.com/ypid/ansible-shutdown_if_battery_low.git
[submodule "roles_ypid/ypid.synchronize"]
	path = roles_ypid/ypid.synchronize
	url = https://github.com/ypid/ansible-synchronize.git
[submodule "roles_ypid/ypid.vnstat"]
	path = roles_ypid/ypid.vnstat
	url = https://github.com/ypid/ansible-vnstat.git
[submodule "roles_ypid/ypid.psad"]
	path = roles_ypid/ypid.psad
	url = https://github.com/ypid/ansible-psad.git
[submodule "roles/deprecated/silpion.etckeeper"]
	path = roles/deprecated/silpion.etckeeper
	url = https://github.com/silpion/ansible-etckeeper.git
[submodule "ypid.udev-usbmon"]
	path = roles_ypid/ypid.udev-usbmon
	url = https://github.com/ypid/ansible-udev-usbmon
[submodule "roles/picotrading.sudo"]
	path = roles/picotrading.sudo
	url = https://github.com/ypid/ansible-sudo
[submodule "roles_ypid/ypid.packages"]
	path = roles_ypid/ypid.packages
	url = https://github.com/ypid/ansible-packages.git
[submodule "roles_ypid/ypid.whereami"]
	path = roles_ypid/ypid.whereami
	url = https://github.com/ypid/ansible-whereami.git
[submodule "docs/debops"]
	path = docs/debops
	url = https://github.com/debops/docs.git
[submodule "integration_testing/debops"]
	path = integration_testing/debops
	url = https://github.com/debops/test-suite.git
[submodule "roles_ypid/ypid.file_attributes"]
	path = roles_ypid/ypid.file_attributes
	url = https://github.com/ypid/ansible-file_attributes.git
[submodule "roles_ypid/ypid.dhclient"]
	path = roles_ypid/ypid.dhclient
	url = https://github.com/ypid/ansible-dhclient.git
[submodule "roles_ypid/ypid.gdm"]
	path = roles_ypid/ypid.dm
	url = https://github.com/ypid/ansible-dm.git
[submodule "roles_ypid/ypid.opsi"]
	path = roles_ypid/ypid.opsi
	url = https://github.com/ypid/ansible-opsi.git
[submodule "roles_ypid/ypid.paedml_linux"]
	path = roles_ypid/ypid.paedml_linux
	url = https://github.com/ypid/ansible-paedml_linux.git
[submodule "roles_ypid/ypid.wine"]
	path = roles_ypid/ypid.wine
	url = https://github.com/ypid/ansible-wine.git
[submodule "READMEs/ansigenome"]
	path = template_READMEs/ansigenome
	url = https://github.com/nickjj/ansigenome.git
[submodule "docs/debops-policy"]
	path = docs/debops-policy
	url = https://github.com/debops/debops-policy.git
[submodule "roles/debops-contrib.checkmk_server"]
	path = roles/unverified_yet/debops-contrib.checkmk_server
	url = https://github.com/debops-contrib/ansible-checkmk_server.git
[submodule "submodules/debops-keyring"]
	path = submodules/debops-keyring
	url = https://github.com/debops/debops-keyring.git
[submodule "integration_testing/ypid"]
	path = integration_testing/ypid
	url = https://github.com/ypid/test-suite.git
[submodule "submodules/ansible-inventory-grapher"]
	path = submodules/ansible-inventory-grapher
	url = https://github.com/willthames/ansible-inventory-grapher.git
[submodule "docs/debops.github.io"]
	path = docs/debops.github.io
	url = https://github.com/debops/debops.github.io
[submodule "ansible/engine"]
	path = ansible/engine
	url = https://github.com/ansible/ansible.git
	ignore = untracked
[submodule "integration_testing/rolespec"]
	path = integration_testing/rolespec
	url = https://github.com/nickjj/rolespec
[submodule "submodules/acme-tiny"]
	path = submodules/acme-tiny
	url = https://github.com/diafygi/acme-tiny
[submodule "inventory"]
	path = inventory
	url = https://github.com/ypid/ypid-ansible-inventory.git
[submodule "roles/dev-sec.apache-hardening"]
	path = roles/dev-sec.apache-hardening
	url = https://github.com/dev-sec/ansible-apache-hardening.git
[submodule "docs/debops-contrib"]
	path = docs/debops-contrib
	url = https://github.com/debops-contrib/docs.git
[submodule "submodules/yaml4rst"]
	path = submodules/yaml4rst
	url = https://github.com/ypid/yaml4rst.git
[submodule "submodules/yaml2rst"]
	path = submodules/yaml2rst
	url = https://github.com/htgoebel/yaml2rst.git
[submodule "docs/ypid-ansible-role-docs"]
	path = docs/ypid-ansible-role-docs
	url = https://github.com/ypid/ypid-ansible-role-docs
[submodule "roles_ypid/ypid.plymouth"]
	path = roles_ypid/ypid.plymouth
	url = https://github.com/ypid/ansible-plymouth.git
[submodule "submodules/ansible-lint"]
	path = submodules/ansible-lint
	url = https://github.com/willthames/ansible-lint.git
[submodule "submodules/ansible-cmdb"]
	path = submodules/ansible-cmdb
	url = https://github.com/fboender/ansible-cmdb.git
[submodule "submodules/ansible-review"]
	path = submodules/ansible-review
	url = https://github.com/willthames/ansible-review.git
[submodule "submodules/ansible-roles-graph"]
	path = submodules/ansible-roles-graph
	url = https://github.com/sebn/ansible-roles-graph.git
[submodule "roles_ypid/ypid.dotfiles"]
	path = roles_ypid/ypid.dotfiles
	url = https://github.com/ypid/ansible-dotfiles.git
[submodule "roles/unverified_deprecated/systemli.rootcrypto"]
	path = roles/unverified_deprecated/systemli.rootcrypto
	url = https://github.com/systemli/ansible-rootcrypto.git
[submodule "roles/unverified_deprecated/martin-v.sshpreluks"]
	path = roles/unverified_deprecated/martin-v.sshpreluks
	url = https://github.com/martin-v/ansible-sshpreluks.git
[submodule "roles/geerlingguy.composer"]
	path = roles/geerlingguy.composer
	url = https://github.com/geerlingguy/ansible-role-composer.git
[submodule "integration_testing/ganto"]
	path = integration_testing/ganto
	url = https://github.com/ganto/debops-test-suite
[submodule "roles/unverified_yet/debops-contrib.roundcube"]
	path = roles/unverified_yet/debops-contrib.roundcube
	url = https://github.com/debops-contrib/ansible-roundcube.git
[submodule "roles/weareinteractive.apt"]
	path = roles/weareinteractive.apt
	url = https://github.com/weareinteractive/ansible-apt.git
[submodule "submodules/debops"]
	path = submodules/debops
	url = https://github.com/debops/debops.git
[submodule "roles/deprecated/debops.mysql"]
	path = roles/deprecated/debops.mysql
	url = https://github.com/debops/ansible-mysql.git
[submodule "roles/deprecated/debops.php5"]
	path = roles/deprecated/debops.php5
	url = https://github.com/debops/ansible-php5.git
