---

- name: Common configuration for all hosts
  hosts: [ 'ypid_common' ]
  become: True

  roles:

    ## Merge with debops.rsyslog and debops.logrotate
    # - role: ypid.rsyslog
    #   tags: [ 'role::ypid.rsyslog' ]

    - role: tersmitten.updatedb
      tags: [ 'role::updatedb' ]

    - role: ypid.divert
      tags: [ 'role::divert' ]
